.container__menu-title{
  color: white;
}

.container__menu-title > h1 {
  margin: 15px 0px 15px 0px;
  font-size: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.container__menu-title > hr {
  margin: 20px 0 20px 0;
}
