.container__small-card{
  width: 700px;
  height: 200px;
  margin-bottom: 10px;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 200px;
  height: 130px;
  min-width: 200px;
  margin: 5px 25px 0 15px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__title > h1 {
  font-size: 30px;
}

.container__small-card-separator {
  margin-top: 10px;
}
